*.class
.project
.settings
.classpath
nb-configuration.xml
glassfish-web.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*/target/**
/target/
**/src/main/webapp/welcomePrimefaces.xhtml
**/src/main/webapp/WEB-INF/jboss-web.xml
**/nbproject/**

# Log files
**/*.log
**/itdb/**
